MEMORY {
    ZP:        start =    $0, size =  $100, type   = rw;
    RAM:       start =  $200, size = $DE00;
    ROM:       start = $F000, size = $0FFA, fill = yes;
    VECTORS:   start = $FFFA, size = $6, file = %O, fill = yes;
}


SEGMENTS {
    ROM:       load = ROM, type = ro;
    VECTORS:   load = VECTORS, type = ro;
}
