MEMORY {
    ZP:        start =    $0, size =  $100, type   = rw;
    RAM:       start =  $200, size = $DE00;
    ROM:       start = $F000, size = $0600, fill = yes;
    ROM2:      start = $F600, size = $09FA, fill = yes;
    VECTORS:   start = $FFFA, size = $6, file = %O, fill = yes;
}


SEGMENTS {
    ROM:       load = ROM, type = ro;
    BASIC:     load = ROM2, type = ro;
    BSS:       load = RAM, type = bss, define = yes;
    VECTORS:   load = VECTORS, type = ro;
}
